@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //TODO esto se hara con un for ahora es un ejemplo
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Izena</th>
                <th scope="col">Taldea</th>
                <th scope="col">Jokoa</th>
                <th scope="col">Puntuazioa</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>IkerJ</td>
                <td>T3</td>
                <td>Jokoa</td>
                <td>300</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Alain</td>
                <td>T2</td>
                <td>Jokoa</td>
                <td>250</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Erlantz</td>
                <td>T4</td>
                <td>Jokoa</td>
                <td>200</td>
            </tr>
        </tbody>
    </table>
}
